@model IEnumerable<NGL.Web.Models.Course.CourseModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>