@model NGL.Web.Models.School.SchoolModel

@{
    ViewBag.Title = "School Info";
}

<div class="panel panel-default form-header">
    <h2>School</h2>
</div>

@using (var f = Html.BeginNglForm())
{
    <div class="panel panel-default">
    @using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.StateOrganizationId)
        @s.FieldFor(m => m.NameOfInstitution)
        @s.FieldFor(m => m.WebSite)
    }
    @using (var n = f.BeginNavigation())
    {
        @n.Submit("Save").AddClass("btn btn-primary")
    }
    </div>
    
}
