@model NGL.Web.Models.School.SchoolModel

@{
    ViewBag.Title = "School Info";
}

<h2>School</h2>

@using (var f = Html.BeginChameleonForm())
{
    using (var s = f.BeginSection("Info"))
    {
        @s.FieldFor(m => m.StateOrganizationId)
        @s.FieldFor(m => m.NameOfInstitution)
        @s.FieldFor(m => m.WebSite)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Save")
    }
}
