
@{
    ViewBag.Title = "Forbidden";
}

<h2>Forbidden</h2>
<p>Oops! You don't have rights to access this page. Please @Html.ActionLink("contact us", "Contact", "Home") if you think you should have access.</p>

