@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.Section.IndexModel>

@{
    ViewBag.Title = "Sections";
}

<h2>Sections</h2>
@if ((User as NglPrincipal).HasAccessTo("courseGeneration", "create"))
{
     @Html.ActionLink("Create New Section", MVC.Section.Create(), new { @class = "btn btn-primary" })
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniqueSectionCode)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="section-code">
                    @Html.DisplayFor(modelItem => item.UniqueSectionCode)
                </td>
            </tr>
        }
    </tbody>
</table>