.attendance-list {
    width: 54%;
    margin-bottom: 20px;
}

.attendance-type-container {
    text-align: right;
}

.attendance-type {
    display: inline-block;
    width: 7%;
    margin-bottom: 3%;
    margin-top: 2%;
    margin-right: 0.3%;

    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -o-transform: rotate(300deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.student-list {
    border-top: 1px solid lightgrey;
}

.attendance-list-item {
    border-top: 1px solid lightgrey;
}

.attendance-list-item-0 {
    background-color: white;
}

.attendance-list-item > div {
    vertical-align: middle;
    margin-bottom: 0;
}

.profile-photo-thumbnail {
    height: 45px;
    width: 45px;
    margin: 3px;
}

.student-name {
    display: inline-block;
    width: 39%
}

.attendance-list-item > div.form-group {
    display: inline-block;
    text-align: right;
    width: 50%;
}

.attendance-list-item > div > div.radio {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 7%;
}

.attendance-list-item > div > div.radio > input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;
    -o-appearance: checkbox;
}

.attendance-list-item > div > span {
    display: none;
}

.attendance-list-item > div > div > label {
    display: none;
}

.save-attendance {
    width: 50%;
    text-align: right;
}
