.attendance-list {
    table-layout: fixed;
    margin-top: 20px;
}

.table > thead > tr > th.attendance-type {
    padding: 0 0 0 35px;
}

.attendance-type {
    transform-origin: 10% 50%;
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.profile-photo-thumbnail {
    height: 45px;
    width: 45px;
    margin: 3px;
}

.student-name {
    display: inline-block;
    width: 240px;
    margin-left: 10px;
}

.attendance-list-item > div > span {
    display: none;
}

.attendance-list-item > div > div > label {
    display: none;
}

.cancel-and-save-buttons {
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

.attendance-flags {
    text-align: left;
    margin-top: 25px;
}

.great {
    color: #69BD45;
}

.in-danger {
    color: #FFD902;
}

.bad {
    color: #EC4B36;
}

.remove-flag-button {
    vertical-align: top;
    margin-left: -4px;
}

.attendance-percentage {
    width: 80%;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}