body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #E9E9EB;
}

footer {
    margin-top: 60px;
}

a, a:visited, a:active {
    color: #2DBCBB;
}

a.btn-primary {
    color: white;
}

a.btn-default {
    color: black;
}

a:hover {
    color: #249695;
    text-decoration: none;
} 

h2 {
    text-transform: capitalize;
}

h4 {
    font-weight: bold;
}


/* Set padding to keep content from hitting the edges and top */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
}

.top-buffer-30 {
    margin-top: 30px;
}

.top-buffer-20 {
    margin-top: 20px;
}

.top-buffer-10 {
    margin-top: 10px;
}

.display-none {
    display: none;
}

.enabled-edit {
    cursor: pointer;
    color: #2DBCBB;
}

.enabled-edit:hover {
    color: #249695;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

form .inline {
    clear: both;
}

form .inline input {
    display: inline;
}

.separator {
    margin-bottom: 15px;
    border-bottom: 2px solid #999;
}

.separator input[type=file]{
    margin-bottom: 10px;
}

.separator:last-of-type {
    border-bottom: none;
}

.submit-student-button-container div {
    float: right;
    margin-right: 15px;
}

.performance-history-textbox {
    max-width: 500px;
}

.input-group {
    display: block;
}

.input-group-addon,
.input-group-btn {
    width: 0;
}

.input-group-addon {
    padding: 9px 20px;
}

.checkbox > .required {
    display: none;
}

.upload-profile-photo {
    padding-top: 5px;
}

.scheduling {
    display: inline-block;
    width: 92px;
    height: 32px;
    border: solid grey 1px;
    border-radius: 3px;
    background: lightgrey;
    padding-top: 4px;
    text-align: center;
}

.scheduling a {
    text-align: center;
    color: black;
}

.dl-horizontal dd {
    margin-left: 240px;
}

.dl-horizontal dt {
    text-align: left;
}

/* Schedule student page */
.current-section-list-item {
    background-color: white;
}

.current-section-list-item td {
    padding: 10px !important;
}

.table > tbody > tr.current-section-list-item td:first-child   {
    border-left: #2DBCBB 6px solid;
}

td.scheduled-section-dates {
    text-align: right;
}

.padding-30 {
    padding: 30px !important;
}

.scheduled-section-dates {
    width: 30%;
    margin-right: 20px;
    border-top: 0;
}

.spacer {
    width: 100%;
    height: 5px;
}

.profile-column {
    margin-left: -30px;
    margin-right: 60px;
}

.form {
    margin-top: 50px;
}

.field-validation-error {
    margin-top: 15px;  
}

.current-sections-container {
    margin-top: 30px;
}

.section-searchbox-container {
    display: inline-block;
    width: 140%;
}

.section-searchbox-container > input {
    width: 100%;
}

.panel-gray {
    background-color: #e9e9eb;
    border-radius: 4px; 
    padding: 10px;
}

.table-report > tbody> tr > td {
    border-top: 10px solid #f7f7f9;
    border-right: 2px solid #f7f7f9;
    background-color: white;
}

.table-report > tbody > tr > th {
    border-top: 10px solid #f7f7f9;
    border-right: 2px solid #f7f7f9;
    background-color: #2DBCBB;
    color: white
}

.panel {
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    box-shadow: none;
}

.panel-above-table {
    padding-left: 30px;
    padding-bottom: 20px;
}

.index-header-panel {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

body h4.panel:first-child {
    margin-top: 0;
}

.extra-vertical-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.arrow {
    padding-left: 5px;
}

.progress {
    background-color: #E9E9EB;
    border-radius: 20px;
}

.progress-bar {
    background-color: #2DBCBB;
    border-radius: 20px;
}

.vertical-align-middle {
    vertical-align: middle;
}

.table .vertical-align-middle {
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.alert > p {
    margin-bottom: 10px;
}

/* Parent Course Grade Page */

.grade-textbox {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #2DBCBB;
    text-align: center;
    margin-right: 25px;
}

.grade-textbox-error {
    float: right;
    margin-top: 0px;   
}

.inline {
    display: inline;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.right-elbow-room {
    margin-right: 5px;
}

.right-elbow-room-20 {
    margin-right: 20px;
}

.right-elbow-room-80 {
    margin-right: 80px;
}

.input-width {
    width: 340px;
}

.ngl-color {
    color: #2DBCBB;
}

.header-text {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

.header-text > h2{
    margin: 0;
}

.header-buttons {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: middle;
}
