body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #E9E9EB;
}

/* Set padding to keep content from hitting the edges and top */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

form .inline {
    clear: both;
}

form .inline input {
    display: inline;
}

.separator {
    margin-bottom: 15px;
    border-bottom: 2px solid #999;
}

.separator input[type=file]{
    margin-bottom: 10px;
}

.separator:last-of-type {
    border-bottom: none;
}

.submit-student-button-container div {
    float: right;
    margin-right: 15px;
}

.performance-history-textbox {
    max-width: 500px;
}

.input-group {
    display: block;
}

.input-group-addon,
.input-group-btn {
    width: 0%;
}

.input-group-addon {
    padding: 9px 20px;
}

.checkbox > .required {
    display: none;
}

.upload-profile-photo {
    padding-top: 5px;
    margin-bottom: 50px;
    text-align: left;
}

.ghost-button {
    opacity: 0;
    height: 34px;
    width: 100px;
    cursor: pointer;
}

.profile-photo-button {
    position: absolute;
    margin-left: 30%;
}

.click-button {
    min-height: 34px;
    min-width: 92px;
}

.profile-photo-container {
    margin-bottom: 45px;
}

.scheduling {
    display: inline-block;
    width: 92px;
    height: 32px;
    border: solid grey 1px;
    border-radius: 3px;
    background: lightgrey;
    padding-top: 4px;
    text-align: center;
}

.scheduling a {
    text-align: center;
    color: black;
}

.dl-horizontal dd {
    margin-left: 160px;
}

.dl-horizontal dt {
    width: 150px;
    text-align: left;
}

/* Schedule student page */
.current-section-list-item > td {
    margin-bottom: 100px;
}
.current-section-list-item {
    border: solid 1px lightgrey;
    border-left: turquoise 4px solid;
    padding: 3px 0 3px 8px;
    width: 100%;
}

.scheduled-section-dates {
    width: 30%;
    margin-right: 20px;
    border-top: 0;
}

.spacer {
    width: 100%;
    height: 5px;
}

.profile-column {
    margin-left: -30px;
    margin-right: 60px;
}

.form {
    margin-top: 50px;
}

.field-validation-error {
    margin-top: 15px;  
}

.category-title {
    font-size: 1.3em;
    font-weight: bold;
}

.current-sections-container {
    margin-top: 30px;
}

.section-searchbox-container {
    display: inline-block;
    width: 140%;
}

.section-searchbox-container > input {
    width: 100%;
}

/* Assessment Page */

.enter-mastery {
    max-width: 330px;
}

.enter-mastery .form-control {
    max-width: 100px;
}

.panel-gray {
    background-color: #e9e9eb;
    padding: 10px;
}

.table-report > tbody> tr > td {
    border-top: 10px solid #f7f7f9;
    border-right: 2px solid #f7f7f9;
    background-color: white;
}

.table-report > tbody > tr > th {
    border-top: 10px solid #f7f7f9;
    border-right: 2px solid #f7f7f9;
    background-color: #2DBCBB;
    color: white
}

.btn {
    border-radius: 20px;
}

.btn-primary {
    background-color: #2DBCBB;
    border-color: #2DBCBB;
}

.btn-primary:hover {
    background-color: #249695;
    border-color: #249695;
}

.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:link {
    background-color: #2DBCBB !important;
    border-color: #2DBCBB;
}

.btn-primary[disabled], .btn-primary:disabled {
    background-color: #5CB4B4;
    border-color: #5CB4B4;
}

.delete-row-btn {
    cursor:pointer
}

.table-report > tbody> tr > td.profile-result {
    position: relative;
    padding: 0;
}

.result-pill {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    max-height: 46px;
    border-radius: 20px;
}

.Mastery {
    background-color: #69BD45;
}

.Near.Mastery {
    background-color: #FFD902;
}

.Not.Mastered {
    background-color: #EC4B36;
}

.panel {
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    box-shadow: none;
}

body h4.panel:first-child {
    margin-top: 0px;
}

.arrow {
    padding-left: 5px;
}