body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

form .inline {
    clear: both;
}

form .inline input {
    display: inline;
}

.separator {
    margin-bottom: 15px;
    border-bottom: 2px solid #999;
}

.separator input[type=file]{
    margin-bottom: 10px;
}

.separator:last-of-type {
    border-bottom: none;
}

.submit-student-button-container div {
    float: right;
    margin-right: 15px;
}

.performance-history-textbox {
    max-width: 500px;
}

.input-group {
    display: block;
}

.input-group-addon,
.input-group-btn {
    width: 0%;
}

.input-group-addon {
    padding: 9px 20px;
}

.checkbox > .required {
    display: none;
}

.upload-profile-photo {
    padding-top: 5px;
}

.ghost-button {
    opacity: 0;
    position: absolute;
    height: 26px;
    width: 82px;
}

.click-button {
    position: absolute;
    min-height: 26px;
    min-width: 82px;
}