.table-container {
    background-color: white;
    margin: 30px 0;
    padding: 60px;
    border-radius: 4px;
}

.table-with-buttons-container {
    background-color: white;
    margin: 10px 0;
    padding: 10px 30px 20px;
    border-radius: 4px;
}

.table {
    margin-bottom: 0;
}

.table > thead > tr > th {
    border-bottom: none;
}

.table > tbody > tr > td {
    border-top: none;
    border-left: none;
    border-right: none;
}

.table > tbody > tr td:first-child   {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table > tbody > tr td:last-child   {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #E9E9EB;
}