h4.strong {
    text-transform: uppercase;
    font-weight: bold;
}

.time-span-chooser {
    margin-top: 30px;
}

.result-view-period {
    background-color: #2DBCBB;
    border-radius: 4px 4px 0 0;
    display: inline-block;
    width: 50%;
    margin: 0 -4px 0 0;
    padding: 10px 5px;
    text-align: center;
    border: solid #2DBCBB 1px;
}

.result-view-period > h3 {
    margin: 0;
    padding: 0;
}

.selected, .selected a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}

.unselected, .unselected a {
    background-color: white;
    color: #2DBCBB;
    padding-right: 30px;
    padding-left: 30px;
}

.date-range-display {
    background-color: #2DBCBB;
    border-radius: 0 0 4px 4px;
    padding: 15px;
    color: white;
}

.date-range-display > .pager {
    padding-left: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}

.fa-arrow-left, .fa-arrow-left:hover, .fa-arrow-right, .fa-arrow-right:hover {
    color: #2DBCBB;
}

.Mastery {
    background-color: #69BD45;
    border: 2px solid #69BD45;
}

.Near.Mastery {
    background-color: #FFD902;
    border: 2px solid #FFD902;
}

.Not.Mastered {
    background-color: #EC4B36;
        border: 2px solid #EC4B36;
}

.table-report > tbody> tr > td.profile-result {
    position: relative;
    padding: 0;
}

.week-result-pill {
    position: absolute;
    margin: auto 5px;
    width: 90%;
    top: 8px;
    bottom: 8px;
    height: 40px;
    border-radius: 20px;
}

.month-result-pill {
    position: absolute;
    margin: auto 5px;
    top: 8px;
    bottom: 8px;
    height: 40px;
    border-radius: 20px;
}

@media (max-width: 1200px) {
  .month-result-pill {
      margin: auto 2px;
  }
  .week-result-pill {
      margin: auto 3px;
  }
}

.clear-right-margin {
    margin-right: 0;
}

.clear-right-padding {
    padding-right: 0;
}

.find-session {
    padding: 64px;
}

.full-input {
    max-width: 100%;
}

.ccss-header {
    width: 20%;
    text-align: center;
}

.btn.btn-link.popover-dismiss {
    white-space: normal;
    text-align: left;
}

.btn.btn-link.popover-dismiss:focus {
    border: 0;
 }

.assessment-info-placeholder {
    display: none;
}

.black-text {
    color: black;
}
