@model NGL.Web.Models.ParentCourse.CreateModel
@{
    ViewBag.Title = "Create Parent Course";

}

<h2>Create Parent Course</h2>

@using (var f = Html.BeginNglForm())
{
    using (var s = f.BeginSection(""))
    {
        @s.FieldFor(m => m.Name)
    }
    using (var n = f.BeginNavigation())
    {
        @n.Submit("Create").AddClass("btn btn-primary")
    }
}


