@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Next Generation Learning Platform</h1>
    <p class="lead">For Next Generation schools that want to provide <strong>timely and relevant data reports</strong>, the NGL Platform is an <strong>integrated data store</strong> that unifies data to give a <strong>single shareable view</strong>.</p>
</div>
