
@{
    ViewBag.Title = "Scheduling";
}

<h2>Scheduling</h2>
<ul>
    <li>@Html.ActionLink("Sessions", "Index", "Session")</li>
    <li>@Html.ActionLink("Courses", "Index", "Course")</li>
    <li>@Html.ActionLink("Periods", "Index", "ClassPeriod")</li>    
</ul>
