@using NGL.Web.Infrastructure.Security
@model IEnumerable<NGL.Web.Models.ClassPeriod.IndexModel>

@{
    ViewBag.Title = "Class Periods";
}

<h2>Class Periods</h2>
@if ((User as NglPrincipal).HasAccessTo("courseGeneration", "create"))
{
    <ul class="nav nav-pills">
        <li>
            @Html.ActionLink("Add Period", "Create")
        </li>
    </ul>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassPeriodName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="period-name">
                    @Html.DisplayFor(modelItem => item.ClassPeriodName)
                </td>
            </tr>
        }
    </tbody>
</table>
