@model NGL.Web.Models.Session.SessionWithSectionsModel

@{
    ViewBag.Title = "Some Session";
}

<h2>@Model.Name</h2>
<h4>Sections Created</h4>
<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    course name
                </th>
                
            </tr>
        </thead>

        <tbody>
            <tr>
                    <td class="term">
                        math123
                    </td>
                   
                </tr>
            
        </tbody>
    </table>
</div>
